## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/

## IDE
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.csproj.user
*.sln.docstates

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Temp
*.tmp
*.log
bench_*.txt
